<div class="push">
  <ul class="top-header">
    <li class="left"><a class="menu-link">&#9776;</a></li>
    <li class="center" id="logo">Dobby</li>
    <li class="right"><a class="button-link" ng-click="openFilters()">Filter</a></li>
  </ul>
  <div class="container">
    <div class="list-item-content clearfix">
      <span class="pull-left">Bidder</span>
      <span class="pull-right">Asking Price</span>
    </div>
    <div ng-repeat="dobby in bidders" class="list-item" ng-click="goToProfile(dobby.bidder_id, dobby.jobID, dobby.askingPrice)">
      <img class="avatar" src="{{dobby.image_url}}" width="50">
      <div>
        <span class="name">{{dobby.firstName}} {{dobby.lastName | trim}}</span>
        <span class="asking-price">{{dobby.askingPrice | formatCurrency }}</span>
        <br>

        <span class="rating" data-rounded-rating="{{dobby.rating | roundRating }}"></span>
        <span class="num-ratings">({{dobby.numRatings}})</span>
        <span class="eta">{{dobby.distance | formatMiles }}</span>

        <div class="category-ratings">
          <span ng-show="dobby.topCategory1">
            <span class="category">{{dobby.topCategory1}}</span>: {{dobby.topCategory1Rating | formatDecimal }}/5 ({{dobby.topCategory1numRatings}})</span>
          <span ng-show="dobby.topCategory2">
          <span class="category">, {{dobby.topCategory2}}</span>: {{dobby.topCategory2Rating | formatDecimal }}/5 ({{dobby.topCategory2numRatings}})</span>
        </div>
        <div class="badges">
          <span class="verified" ng-show="dobby.verified">verified!</span>
          <span class="background-checked" ng-show="dobby.bgChecked">background-checked!</span>
        </div>
      </div>
    </div>

    <div ng-show="bidders.length == 0" class="no-list-item">
      <div id="none-message">We're sorry, nobody bidded for your job!

      <div id="raise-price">
      <br>
      Try raising your maximum offer price:
      <br>
      <br>
      <form ng-submit="raiseMaxOffer()">
      $ <input type="number" min="{{jobMaxOffer}}" ng-model="jobMaxOffer" max="99999" value="{{jobMaxOffer}}">
      <br>
      <input type="submit" value="Resubmit">
      </form>
      </div>
      </div>
      </div>
    </div>

  </div>
</div>

<div id="filters">
</div>