<ul class="top-header">
  <li class="left" ng-click="goBack('home')">Back</li>
  <li class="center" id="logo">Dobby</li>
  <li class="right"></li>
</ul>

<div class="container">
<form id="confirm-fields" ng-submit="confirmFields()">
  <div class="form-group">
  <!-- TODO: auto-expand textarea -->
    <label>Job Description</label>
    <input type="text" ng-required="true" class="textarea-sm" ng-model="jobString" wrap="hard" rows="4" cols="20" maxlength="140">
  </div>

  <div class="form-group">
  <!-- TODO: auto-expand textarea -->
    <label>Additional Details (optional)</label>
    <textarea ng-required="false" class="textarea-lg" ng-model="jobDetail" wrap="hard" rows="4" cols="20" maxlength="360" placeholder="Include requirements, supplies provided, etc.">
    </textarea>
  </div>

  <div class="form-group inline">
    <label>Address</label>
    <input ng-required="true" placeholder="Specify an address" ng-model="jobAddress" wrap="hard" cols="20">
  </div>

  <div class="form-group inline">
    <label>I need a Dobby...</label>
    <select ng-required="true" ng-model="jobUrgency" name="jobUrgency" ng-options="urgencyType for urgencyType in urgencyTypes" required="true">
    </select>
  </div>

  <input id="submit" type="submit" value="Submit">

</form>
</div>

<!--

asdfasd;fjweofajw pefjaepwofiajsdpofjawpoefjaposdfjapwefjapodsfjapowefjapoewifjadskfjsdflkwej fpowejf pweojf peowfj pwefj ewpofj

-->