#prompt {
  font-size: 36px;
  margin-top: 200px;
  text-align: center;
  color: #ff0000;
}

#job-string {
    font-size: 16px;
    width: 90%;
    text-align: center;
    padding: 10px 0;
    margin: 1em;
    border: 0;
    border-bottom: solid 1px #ddd;

    &:focus {
      outline-color: #ddd;
      outline-width: 1px;
    }
}


#examples {
  padding: 2em;
  line-height: 1.5em;
  header {
      line-height: 2.5em;
      font-size: 1.2em;
      color: red;
  }
}

#new-job-hint {
    text-align: center;
    width: 100%;
    display: block;
    color: grey;
}

.button {
    position: absolute;
    bottom: 0;
    padding: 20px;
    text-align: center;
    width: 320px;
    background: orange;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.button-link {
    padding: 6px 10px;
    background: rgb(0, 163, 255);
    margin-right: -10px;
    border-radius: 8px;
    font-weight: 400;
    color: white;
    /* box-shadow: inset 0px 3px 15px white, inset 0px -2px 12px white; */
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    color: white;
}

li#logo {
    font-size: 27px;
    font-weight: 400;
    @extend .logo-font;
}

// ==== cancel button

#cancel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #ddd;
}

.cancel-button {
    display: inline-block;
    padding: 0px;
    border-radius: 16px;
    border: solid 2px;
    width: 20px;
    height: 20px;
    font-weight: 600;
    margin-left: 2px;
}


// ==== confirm window 


div#confirmBox {
    width: 250px;
    text-align: center;
    margin: auto;
    position: fixed;
    left: 50px;
    z-index: 99999;
    top: 200px;
    border: solid 1px black;
    background: lightblue;
    opacity: 0.95;
    border-radius: 5px;
    font-size: 1.25em;

    .message {
      padding: 2em 0;
    }
    table {
      width: 100%;
      border-top: solid 1px;
      height: 50px;
      border-color: #696969;
    }
    td:first-child {
      border-right: solid 1px;
      border-color: #696969;
    }
    td {
      width: 50%;
      cursor: pointer;
    }
}
span.yes, span.no {
    display: inline-block;
    width: 49%;
    padding: 10px 0px;
    border-top: solid 1px black;
}
div.message {
    padding: 1em;
}


div#shadow {
    position: fixed;
    top: 0;
    height: 999px;
    background: black;
    opacity: 0.5;
    width: 999px;
    display: none;
}

// ------------ admin panel

.panel {
    position: fixed;
    left: -300px; /*left or right and the width of your navigation panel*/
    width: 300px; /*should match the above value*/
}

.menu-link {
    padding: 0 15px;
    padding-right: 45px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

// -------------- listing of dobbies

.rating {
  background-image: url("http://www.nofeerentdirect.com/img/stars_map.png");
  width: 84px;
  height: 16px;
  background-position: 0px 0px;
  display: inline-block;

  &[data-rounded-rating="0"] {
    background-position: 0px 0px;
  }
  &[data-rounded-rating="1"] {
    background-position: 0px -19px;
  }
  &[data-rounded-rating="1.5"] {
    background-position: 0px -38px;
  }
  &[data-rounded-rating="2"] {
    background-position: 0px -57px;
  }
  &[data-rounded-rating="2.5"] {
    background-position: 0px -76px;
  }
  &[data-rounded-rating="3"] {
    background-position: 0px -95px;
  }
  &[data-rounded-rating="3.5"] {
    background-position: 0px -114px;
  }
  &[data-rounded-rating="4"] {
    background-position: 0px -133px;
  }
  &[data-rounded-rating="4.5"] {
    background-position: 0px -152px;
  }
  &[data-rounded-rating="5"] {
    background-position: 0px -171px;
  }
}
.list-item {
    width: 350px;
    height: 78px;
    padding: 10px 5px;
    border-bottom: solid 1px #ddd;
    cursor: pointer;
    position: relative;
    
    &:hover, &:focus {
      background: #eee;
    }

    > img {
      display: inline-block;
      height: 60px;
      width: auto;
      border-radius: 5px;
      padding-right: 10px;
    }
    > div {
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }

    .name {
      padding-bottom: 5px;
      display: inline-block;
    }

    .asking-price {
      display: inline-block;
      float: right;
      position: absolute;
      right: 10px;
      color: rgb(39, 167, 54);
    }
}

div.badges {
    margin-top: -5px;
}
.verified, .background-checked {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}

.verified {
  color: #75c975;
}

.num-ratings {
    display: inline;
    font-size: 14px;
    position: relative;
    bottom: 3px;
}

.eta {
    font-size: 11px;
    position: absolute;
    top: 35px;
    right: 10px;
    color: #999;
}

.category-ratings {
    font-size: 12px;
    padding-bottom: 3px;
    color: #9B9B9B;
    .category {
        font-style: italic;
        font-weight: 400;
        color: rgb(82, 82, 82);
    }
}

.background-checked {
  color: #EB6D19;
}

.list-item-content {
  font-size: 12px;
  padding: 5px 10px;
  border-bottom: solid 1px #ddd;
  background: #E2E2E2;
  box-shadow: inset 1px -2px 5px #C0C0C0;
  font-weight: 600;
  width: 340px;
}

.no-hover {
    &:hover {
      background: inherit;
    }
}

.no-list-item {
  padding: 10px;
}

#none-message {
    vertical-align: middle;
    padding-top: 28px;
    text-align: center;
    width: 340px;
    line-height: 2em;
    &:hover {
      background: inherit;
    }
}