@import '__global';

div.form-group {
    margin: 1em;
    padding: 0.5em;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgb(255, 203, 140);

    textarea {
        height: 4em;
        overflow-y: auto;

        &.textarea-sm {
            height: 3em;
        }

        &.textarea-lg {
            height: 5em;
        }
    }
}

label {
    display: block;
    padding-bottom: 0.5em;
    color: rgb(221, 121, 0);
}

.form-group.inline {
    @extend .clearfix;

    label {
        display: inline-block;
        padding: 0.5em;
    }
    input, select {
        display: inline;
        text-align: right;
        width: 50%;
        float: right;
    }

    select {
        direction: rtl;
        height: auto;
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        option {
            direction: ltr;
        }
    }
}

input, textarea, select {
    border: 0;
    padding: 0.5em;
    font-family: inherit;
    background: transparent;
    font-size: 16px;
    width: 94%;
    max-width: 94%;
    white-space: normal;

    @extend .ellipse-text-overflow;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus {
        outline: none;
    }
}


input[type="number"] {
    background: #ddd;
    width: 50px;
    border-radius: 10px;
    padding-left: 16px;
    text-align: center;
    position: relative;
}

.inline input[type="number"] {
    width: 25%;
    background: inherit;
    border-bottom: solid 1px;
    &:before {
        content: "$";
    }
}
span.dollar {
    position: relative;
    left: 49px;
}
.left .button-plain {
    margin-left: 10px;
}

.right .button-plain {
    margin-right: 10px;
}
.button-plain {
    color: white;
    padding: 6px 10px;
    input, a {
        color: white;
    }
}