@import '__global';

body {
    padding: 0;
    margin: 0;
}

.top-header {
  list-style: none;
  margin: 0;
  padding: 0;
  background: lightblue;
  line-height: 3em;
  @extend .clearfix;

  position: fixed;
  top: 0;
  width: 100%;

  li {
    padding: 0 1em;
  }

  .center {
    text-align: center;
    top: 0;
    margin: auto;
    pointer-events: none;

  }
  .left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
  }
}


// --------   auction_progress ------

.progress-container {
    margin-top: 250px;
    text-align: center;
}

.container {
  padding-top: 3em;
}

// ======== header =======


nav#menu {
    background: darkblue;
}
#menu li, #menu a {
    color: white;
    list-style: none;
    line-height: 3em;
    text-decoration: none;
    font-size: 20px;
}

#menu {
  @extend .transition-left;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100%;

  left: -300px;

  &.active{
    left: 0;
  }
}

.push {
  position: absolute;
  @extend .transition-left;
  left: 0;
  &.active {
    left: 300px;
  }
}