@import '__global';

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#logo, .logo-font {
  font-family: 'Bitter', sans-serif;
  font-weight: 400;
  color: darkorange;
}

h1, h2, h3, h4, h5 {
  @extend .logo-font;
}

h5 {
  color: #696969;
}

#facebook-login {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: darkorange;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 150px;
  &:hover, &:visited {
    color: white;
  }
}

#intro {
    text-align: center;
    margin-top: 175px;
}

#content {
  overflow-x: hidden;
}

.top-header {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  line-height: 3em;
  @extend .clearfix;
  box-shadow: 1px 1px 5px #888;

  z-index: 999999;
  opacity: 0.95;

  position: fixed;
  top: 0;
  width: 100%;

  li {
    padding: 0 1em;
  }

  .center {
    text-align: center;
    top: 0;
    margin: auto;
    pointer-events: none;

  }
  .left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
  }
}

.bottom-header {
  @extend .top-header;
  bottom: 0;
  height: 50px;
  top: inherit;
  background: rgba(255, 171, 69, 1);
}


// --------   auction_progress ------

.progress-container {
    margin-top: 250px;
    text-align: center;
}

.container {
  padding-top: 3em;
}

.container-flanked {
  padding-top: 3em;
  padding-bottom: 3em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// ======== header =======


nav#menu {
    background: darkblue;
}
#menu li, #menu a {
    color: white;
    list-style: none;
    line-height: 3em;
    text-decoration: none;
    font-size: 20px;
}

#menu {
  @extend .transition-left;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100%;

  left: -300px;

  &.active{
    left: 0;
  }
}

.push {
  position: absolute;
  @extend .transition-left;
  width: 360px;
  left: 0;
  &.active {
    left: 300px;
  }
}