<!DOCTYPE html>
<html>
<head>
  <title>Dobby1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=360, initial-scale=1, maximum-scale=1">
</head>
<body>

<div ng-app="app" id="content" ng-view></div>


<nav id="menu" class="panel" role="navigation">
  <ul>
    <li>
    <li><a href="#">Home</a></li>
    <li><a href="#">The Ballad of El Goodo</a></li>
    <li><a href="#">Thirteen</a></li>
    <li><a href="#">September Gurls</a></li>
    <li><a href="#">What's Going Ahn</a></li>
  </ul>
</nav>


</body>
</html>
