<!DOCTYPE html>
<html>
<head>
  <title>Dobby1</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=360, initial-scale=1, maximum-scale=1">


</head>
<body ng-app="app">

<div id="content" ng-view></div>


<nav id="menu" class="panel" menu role="navigation" ng-controller="MenuCtrl">
  <ul>
    <li class="change-availability" ng-show="availabilityStatus">
      <span class="avail-status">Availability</span>
      <a ng-show="availabilityStatus=='Off'" ng-click="changeAvailability('On')" id="off-btn"><img src="assets/off-btn.png"><span class="avail-text">Not Available</span></a>
      <a ng-show="availabilityStatus=='On'" ng-click="changeAvailability('Busy')" id="on-btn"><img src="assets/on-btn.png"><span class="avail-text">Available</span></a>
      <a ng-show="availabilityStatus=='Busy'" ng-click="changeAvailability('Off')" id="in-between-btn"><img src="assets/in-between-btn.png"><span class="avail-text">On a Job</span></a>
    </li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#home">Create a Job</a></li>
    <li><a href="#">Edit Payment</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Sign out</a></li>
    <li class="dobby"><a href='#dobby_matching_jobs' ng-show="availabilityStatus=='On'">Browse relevant jobs</a></li>
    <li class="dobby"><a ng-show="availabilityStatus=='On'">Invites (5)</a></li>
    <li class="dobby busy"><a ng-show="availabilityStatus=='Busy'">Mark Jobs as Complete</a></li>
  </ul>
</nav>


</body>
</html>
