<!DOCTYPE html>
<html>
<head>
  <title>Dobby1</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=360, initial-scale=1, maximum-scale=1">


</head>
<body>

<div ng-app="app" id="content" ng-view></div>


<nav id="menu" class="panel" role="navigation">
  <ul>
    <li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Create a Job</a></li>
    <li><a href="#">Edit Payment</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Sign out</a></li>
  </ul>
</nav>


</body>
</html>
